<!--
 * @Author 镜雨 z2044
 * @Date 2023-05-20 13:07:40
 * @LastEditTime 2023-05-20 13:28:40
 * @LastEditors 镜雨 z2044
 * @Description 首页
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>一盘花生米</title>
    <link rel="stylesheet" href="/public/g.css" />
  </head>
  <body>
    <h1>欢迎来到一盘花生米！</h1>
    <button id="createUser">createUser</button>
    <script src="/public/axios.min.js"></script>
    <script>
      document.getElementById('createUser').onclick  = () => {
        axios({
          method: 'post',
          url: '/user/create',
          data: {
            password: '123456',
            username: 'admin1',
          },
          headers: {
            'x-csrf-token': 'peanut-server_1684553024503_4235',
          }
        })
          .then(res => {
            console.log(res);
          })
          .catch(err => {
            console.log(err);
          });
      }
   
    </script>
  </body>
</html>
